<div class="py-2">
  <section class="h-auto px-10 py-24">
    <div class="mx-auto max-w-7xl">
      <div class="w-full mx-auto text-left md:text-center">
        <h1
					class="mt-2 mb-6 text-5xl font-extrabold leading-none max-w-5xl mx-auto tracking-normal text-white sm:text-6xl md:text-6xl lg:text-7xl md:tracking-tight">
          Reduce workload of your agents<span
						class="w-full text-transparent bg-clip-text bg-gradient-to-r from-green-400 via-blue-500 to-purple-500 lg:inline">
            through our chat bot </span> service
        </h1>
        <p class="px-0 mb-6 text-lg text-white md:text-xl lg:px-24"> where convenience meets
          personalized service. Whether customers are tracking an order, seeking product information, or resolving an
          issue,
          It's
          available 24/7 to provide instant assistance. Join us and discover a new level of customer care designed to
          make
          the shopping journey of your customers smooth and worry-free.
        </p>
      </div>
      <div class="mt-8 flex flex-wrap justify-center gap-4">
        <a class="block w-full rounded bg-indigo-600 px-12 py-3 text-lg font-bold text-white hover:bg-transparent hover:text-white hover:border focus:ring active:text-opacity-75 sm:w-auto"
					href="/auth/signup">
          Get Started
        </a>
      </div>
    </div>
  </section>
  <section class="w-full py-12 md:py-24 lg:py-32 bg-[#1a1b1e] text-white">
    <div class="container space-y-12 px-4 md:px-6 m-auto">
      <div class="flex flex-col items-center justify-center space-y-4 text-center">
        <div class="space-y-2">
          <div class="inline-block rounded-lg bg-[#2c2d30] px-3 py-1 text-sm">Outstanding Features</div>
          <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl">Smarter Responses. Happier Customers.</h2>
          <p class="max-w-[900px] text-[#a9a9b3] md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
            Revolutionize Your Customer Support with Our AI-Powered Chatbot
          </p>
        </div>
      </div>
      <div class="mx-auto grid max-w-5xl items-start gap-8 sm:grid-cols-2 md:gap-12 lg:grid-cols-3">
        <div class="flex flex-col gap-4 rounded-lg bg-[#2c2d30] p-6 h-full">
          <div class="bg-[#3e3f43] rounded-md p-3 flex items-center justify-center">
            <i class="fa-solid fa-bolt w-6 h-6 text-[#a9a9b3]"></i>
          </div>
          <h3 class="text-lg font-bold">Seamless Integration with Custom Hooks</h3>
          <p class="text-[#a9a9b3]">
            Define custom hooks tailored to your operations, and watch as the AI intelligently identifies customer needs and triggers the right actions, whether it's canceling an order, processing returns, or providing personalized recommendations.
          </p>
        </div>
        <div class="flex flex-col gap-4 rounded-lg bg-[#2c2d30] p-6 h-full">
          <div class="bg-[#3e3f43] rounded-md p-3 flex items-center justify-center ">
            <i class="fa-solid fa-hard-drive w-6 h-6 text-[#a9a9b3]"></i>
          </div>
          <h3 class="text-lg font-bold">Dynamic and Adaptive AI</h3>
          <p class="text-[#a9a9b3]">
            Experience a chatbot that adapts to your business's unique voice and branding. You have full control to name your chatbot, and our AI will use this identity to interact with customers, providing a personalized experience that feels like an extension of your team.
          </p>
        </div>
        <div class="flex flex-col gap-4 rounded-lg bg-[#2c2d30] p-6 h-full">
          <div class="bg-[#3e3f43] rounded-md p-3 flex items-center justify-center">
            <i class="w-6 h-6 text-[#a9a9b3] fa-solid fa-question"></i>
          </div>
          <h3 class="text-lg font-bold">Automated Customer Query Resolution</h3>
          <p class="text-[#a9a9b3]">
            Our bot autonomously handles complex queries by analyzing customer requests and executing the appropriate actions, ensuring swift and accurate resolutions, enhancing customer satisfaction, and streamlining your support operations.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="w-full overflow-hidden relative mx-auto p-4 h-auto px-10 py-24">
    <div class="flex items-center justify-center">
      <video class="w-full lg:w-1/2 h-1/2 border rounded-md" autoplay controls>
        <source src="https://cdn.amplizard.com/videos/chat-ui-anim.mp4" type="video/mp4">
      </video>
    </div>
  </section>
  <section class="w-full overflow-hidden relative mx-auto p-4 h-auto px-10 py-24 bg-[#1a1b1e]">
    <h2 class="text-4xl text-white font-bold tracking-tight text-center mb-10">Integration</h2>
    <div
			class="w-1/2 h-full md:block hidden absolute transform -translate-x-24 -skew-x-[30deg] -skew-x-12 left-0 top-0">
    </div>
    <div class="max-w-6xl relative mx-auto flex sm:px-0 px-10 flex-col items-center sm:items-center justify-center">
      <svg class="w-10 h-10 mb-5" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
        <path
					d="M128.08 0c7.231.013 14.343.624 21.256 1.78V76.3l52.831-52.696a128.425 128.425 0 0 1 16.34 13.789 128.468 128.468 0 0 1 13.84 16.312L179.513 106.4h74.715A127.58 127.58 0 0 1 256 127.587v.173c0 7.226-.613 14.306-1.772 21.2H179.5l52.847 52.682a129.615 129.615 0 0 1-13.824 16.312h-.015a128.254 128.254 0 0 1-16.326 13.789l-52.846-52.696v74.52a130.321 130.321 0 0 1-21.243 1.781h-.186a130.26 130.26 0 0 1-21.23-1.78v-74.52l-52.831 52.695a128.401 128.401 0 0 1-30.18-30.1L76.5 148.96H1.785A126.984 126.984 0 0 1 0 127.72v-.371c.012-1.875.135-4.166.311-6.536l.055-.713c.522-6.671 1.419-13.7 1.419-13.7H76.5L23.666 53.705a126.265 126.265 0 0 1 13.81-16.286l.026-.026a127.746 127.746 0 0 1 16.344-13.789L106.677 76.3V1.78A130.278 130.278 0 0 1 127.933 0h.147Zm-.013 95.76h-.122c-9.509 0-18.616 1.74-27.034 4.902a76.662 76.662 0 0 0-4.915 26.952v.12a76.383 76.383 0 0 0 4.927 26.951 76.608 76.608 0 0 0 27.022 4.902h.122c9.51 0 18.617-1.74 27.022-4.902a76.146 76.146 0 0 0 4.915-26.952v-.12a76.384 76.384 0 0 0-4.927-26.951 76.608 76.608 0 0 0-27.022-4.902Z"
					fill="#8c82fc"></path>
      </svg>
      <h2 class="text-gray-50 text-3xl text-center font-bold font-serif">Easiest integration ever.</h2>
      <p class="text-gray-400 text-lg text-center sm:text-center max-w-lg mt-5">Seamlessly integrate our service into
        your system in under a minute. With our intuitive chat UI, simply use our ui sdk and you're ready to go!
        🙌
      </p>
      <a href="/auth/signup" class="text-indigo-500 font-bold text-lg mt-5 flex items-center group">
        <span>Integrate now</span>
        <svg class="w-5 h-5 group-hover:ml-1 transition-all ease-out duration-200" fill="currentColor"
					viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
						d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
						clip-rule="evenodd"></path>
        </svg>
      </a>
    </div>
  </section>
</div>
<script>
  const video = document.querySelector('video');
  video.muted = true; // Ensure the video is muted for autoplay
  	video.loop = true;
  video.play();
</script>
