<section class="h-auto ">
  <div class="max-w-7xl mx-auto py-16 px-10 sm:py-24 sm:px-6 lg:px-8 sm:text-center">
    <p class="mt-1 text-2xl font-extrabold text-white ">Access is currently limited to select businesses and individuals. If you're interested in trial access, please reach out to us <a href='mailto:business@amplizard.com' class='font-semibold text-blue-400 underline hover:text-gray-500'> here </a></p>
  </div>
</section>
