<div class="cursor-pointer w-full flex justify-end" onclick="history.back()">
  <div class="flex gap-2 items-center hover:bg-neutral-800 p-2">
    <i class="fa-solid fa-backward text-white"></i>
    <span class="text-white">Go back</span>
  </div>
</div>
