<li class="py-3 shadow-sm w-full flex justify-center">
	<dl class="-my-3 divide-y divide-gray-100 text-sm w-full max-w-2xl rounded-lg border border-gray-200">
		<div class="flex justify-between items-center p-3 w-full">
			<dt class="font-medium text-gray-900">Name</dt>
			<dd class="text-gray-700 sm:col-span-2">{{user.username}}</dd>
		</div>

		<div class="flex justify-between items-center p-3 ">
			<dt class="font-medium text-gray-900">Company</dt>
			<dd class="text-gray-700 sm:col-span-2">{{user.company}}</dd>
		</div>

		<div class="flex justify-between items-center p-3">
			<dt class="font-medium text-gray-900">Email</dt>
			<dd class="text-gray-700 sm:col-span-2">{{user.email}}</dd>
		</div>
	</dl>
</li>
