<div class="selected-image flex gap-2 items-center bg-gray-900 p-2" id="selected-image">
  <span class="text-white">{{name}}</span>
  <i class="fa-regular fa-circle-xmark text-white cursor-pointer" id="unselect-image-button"></i>
</div>
